<a class="splash_link_padding" href="#">Home</a>
<h1 class="no_padding">Projects</h1>
<br>
<h3>
  Mellow-Yellow-Trellow:
</h3>
<br>
<div class="row">
  <div class="col-md-5">
    <div align="left">
      <a href="http://www.mellowyellowtrellow.wilsonwjonathan.com">
        <img class="square" src="trello.png" alt="HTML5 Icon">
      </a>
    </div>
    <br>
    <a class="splash_link" href="http://www.mellowyellowtrellow.wilsonwjonathan.com">Live Demo</a>
    <a class="splash_link" href="https://github.com/jonwils24/Mellow-Yellow-Trellow">GitHub</a>
  </div>
  <div class="col-md-7">
    <p class="project_desc">
      A clone of the popular project management app Trello, allowing a user to organize projects into separate boards containing lists and cards. Cross sortable and draggable lists and cards.  Modals and Popovers for item creation and deletion. Backbone.js for event handling and swapping views.
    </p>
  </div>
</div>
<hr>
<h1 class="padding">
  More Coming Soon!
</h1>
<br>
<br>
<hr>