<a class="splash_link_padding" href="#">Home</a>
<h1 class="no_padding">Projects</h1>
<br>
<h3>
  Mellow-Yellow-Trellow:
</h3>
<br>
<div class="row">
  <div class="col-md-5">
    <div align="left">
      <a href="http://www.mellowyellowtrellow.wilsonwjonathan.com">
        <img class="square" src="trello.png" alt="Mellow Yellow Trellow">
      </a>
    </div>
    <br>
    <a class="splash_link" href="http://www.mellowyellowtrellow.wilsonwjonathan.com">Live Demo</a>
    <a class="splash_link" href="https://github.com/jonwils24/Mellow-Yellow-Trellow">GitHub</a>
  </div>
  <div class="col-md-7">
    <p class="project_desc">
      A clone of the popular project management app Trello, allowing a user to organize projects into separate boards containing lists and cards. Cross sortable and draggable lists and cards.  Modals and Popovers for item creation and deletion. Built on Ruby on Rails with Backbone.js for event handling and swapping views.
    </p>
  </div>
</div>
<hr>
<br>
<h3>
  Contactr.io:
</h3>
<br>
<div class="row">
  <div class="col-md-5">
    <div align="left">
      <a href="https://chrome.google.com/webstore/detail/contactrio/pdkefigddkmoofmamidhhecilmhmgpjg">
        <img class="square" src="contactr.webp" alt="Contactr.io">
      </a>
    </div>
    <br>
    <a class="splash_link" href="https://chrome.google.com/webstore/detail/contactrio/pdkefigddkmoofmamidhhecilmhmgpjg">Chrome Web Store</a>
    <a class="splash_link" href="https://github.com/jonwils24/ChromeContact">GitHub</a>
  </div>
  <div class="col-md-7">
    <p class="project_desc">
      Google Chrome extension that returns the founders, founders' email, and company description for the current website. Uses Crunchbase API to return company information, and Mailgun to validate emails. Available in the Chrome Web Store.
    </p>
  </div>
</div>
<hr>
<br>
<h3>
  Rails-Lite:
</h3>
<br>
<div class="row">
  <div class="col-md-5">
    <div align="left">
      <a href="https://github.com/jonwils24/rails_lite">
        <img class="square" src="rails_lite.png" alt="Rails Lite">
      </a>
    </div>
    <br>
    <a class="splash_link" href="https://github.com/jonwils24/rails_lite">GitHub</a>
  </div>
  <div class="col-md-7">
    <p class="project_desc">
      Rails Lite is my own stripped down version of Rails.  Creates Rails like: initialization process, directory structure, router, controllers, and views.
    </p>
  </div>
</div>
<hr>
<br>
<h3>
  ActiveRecord-Lite:
</h3>
<br>
<div class="row">
  <div class="col-md-5">
    <div align="left">
      <a href="https://github.com/jonwils24/active_record_lite">
        <img class="square" src="active_record_lite.png" alt="Active Record Lite">
      </a>
    </div>
    <br>
    <a class="splash_link" href="https://github.com/jonwils24/active_record_lite">GitHub</a>
  </div>
  <div class="col-md-7">
    <p class="project_desc">
      ActiveRecord Lite is my own stripped down version of Rails' ActiveRecord.  Uses Ruby methods to create SQL queries and build associations similar to ActiveRecord.
    </p>
  </div>
</div>
<hr>
<br>
<h3>
  Snake:
</h3>
<br>
<div class="row">
  <div class="col-md-5">
    <div align="left">
      <a href="http://www.wilsonwjonathan.com/#/snake">
        <img class="square" src="snake.png" alt="Snake">
      </a>
    </div>
    <br>
    <a class="splash_link" href="http://www.wilsonwjonathan.com/#/snake">Live Demo</a>
    <a class="splash_link" href="https://github.com/jonwils24/Snake">GitHub</a>
  </div>
  <div class="col-md-7">
    <p class="project_desc">
      A clone of the classic game Snake! Use the arrow keys to maneuver your snake around the game board. Collect the yellow dots to grow your snake. How big can your snake get!
    </p>
  </div>
</div>
<hr>
<h1 class="padding">
  More Coming Soon!
</h1>
<br>
<br>
<hr>