<div class="containter">
  <div class="white_panel">
    <div id="content" ></div>
  </div>
</div>

<script>

$(Portfolio.initialize({
  $main: $('#content'),
  // $navbar: $('#navbar-bb')
}));
</script>
