<a class="splash_link_padding" href="#">Home</a>
<h1 class="no_padding">About</h1>
<br>
<p class="padding">
  Web developer who has experience with:
</p>
<p class="padding">
  Ruby, Ruby on Rails, JavaScript, jQuery, Backbone.js, SQL, Git, HTML, CSS, Python, among other technologies
</p>
<br>
<p class="padding">
  MBA graduate with an emphasis in Decision Sciences. My life long love of puzzles and solving problems has led me from using data anayltics to solve opertational business problems, to creating beautiful and dynamic web applications.
</p>
<br>
<p class="padding">
  Previously I worked as a Program Manager for a large retail clothing franchise. I fell in love with writing code after using VBA to create Excel Macros and quickly began learning everything I could about programming.
<br>

