<div class="row">
  <div class="col-md-6">
    <a class="splash_link_padding play_again" href="#/snake">Play Again</a>
  </div>
  <div class="col-md-6">
    <a class="splash_link_padding" href="#">Home</a>
  </div>
</div>
<div id="grid"></div>
    
<script>
  $(function () { new SnakeGame.View($("#grid")); });
</script>