<div class="row">
  <div class="col-md-6">
    <a class="splash_link_padding play_again" href="#/snake">Play Again</a>
  </div>
  <div class="col-md-6">
    <a class="splash_link_padding" href="#">Home</a>
  </div>
</div>
<div id="grid"></div>
    <script type="text/javascript"
             src="../snake/js/jquery-1.9.1.js"></script>
    <script type="text/javascript"
             src="../snake/js/underscore.js"></script>
    <script type="text/javascript"
             src="../snake/js/snake.js"></script>
    <script type="text/javascript"
             src="../snake/js/snake-view.js"></script>
             
    
<script>
  $(function () { new SnakeGame.View($("#grid")); });
</script>